<div class="lg:ml-80">
  <div class="px-20 py-10">
    <div class="flex items-center justify-between">
      <form class="flex-shrink-0">
        <label
          for="default-search"
          class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Search</label
        >
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
          >
            <mat-icon>search</mat-icon>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-96 rounded-full border border-gray-300 bg-gray-50 p-4 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
            placeholder="Search Mockups, Logos..."
            required
          />
        </div>
      </form>

      <span class="text-xl font-bold text-gray-700">Ministry Dashboard</span>
    </div>

    <div class="my-4 h-96 w-full overflow-hidden rounded-xl bg-secondary-color">
      <video class="relative -top-24 w-full" autoplay muted loop>
        <source src="assets/video/video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <!-- Summary -->
    <div class="">
      <h3 class="text-2xl font-semibold italic">Summary</h3>
    </div>
    <div class="flex items-baseline justify-between pt-10">
      <div
        class="relative h-60 w-96 rounded-lg border border-gray-200 bg-purple-600 p-6 shadow-md transition-all duration-200 hover:scale-110"
      >
        <div class="absolute bottom-0 left-0 p-5">
          <mat-icon class="scale-150 text-white">store</mat-icon>
          <h4 class="mb-2 text-2xl text-gray-300">Number of Merchant</h4>
          <h5
            class="mb-2 text-6xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ numberOfMerchant }}
          </h5>
        </div>
      </div>

      <div
        class="relative h-60 w-96 rounded-lg border border-gray-200 bg-primary-color p-6 shadow-md transition-all duration-200 hover:scale-110"
      >
        <div class="absolute bottom-0 left-0 p-5">
          <mat-icon class="scale-150 text-white">store</mat-icon>
          <h4 class="mb-2 text-2xl text-gray-300">
            Number of Merchant (Pending)
          </h4>
          <h5
            class="mb-2 text-6xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ getPendingMerchantData() }}
          </h5>
        </div>
      </div>

      <div
        class="relative h-60 w-96 rounded-lg border border-gray-200 bg-blue-500 p-6 shadow-md transition-all duration-200 hover:scale-110"
      >
        <div class="absolute bottom-0 left-0 p-5">
          <mat-icon class="scale-150 text-white">attach_money</mat-icon>
          <h4 class="mb-2 text-2xl text-gray-300">Total Income</h4>
          <h5
            class="mb-2 text-6xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            $12.990
          </h5>
        </div>
      </div>
    </div>
    <div class="">
      <h4 class="pt-10 text-2xl font-semibold italic">Recent Merchants</h4>
    </div>

    <div
      class="relative overflow-x-auto rounded-xl pt-10 shadow-md sm:rounded-lg"
    >
      <table
        class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
      >
        <thead
          class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Merchant's Name</th>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Contact Number</th>
            <th scope="col" class="px-6 py-3">Description</th>
            <th scope="col" class="px-6 py-3">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="border-b bg-white dark:border-gray-700"
            *ngFor="let merchant of merchantData"
          >
            <th
              scope="row"
              class="text-blacka whitespace-nowrap px-6 py-4 font-medium"
            >
              {{ merchant.merchantName }}
            </th>
            <td class="px-6 py-4">{{ merchant.merchantEmail }}</td>
            <td class="px-6 py-4">{{ merchant.merchantPhone }}</td>
            <td class="px-6 py-4">{{ merchant.merchantDescription }}</td>
            <td class="px-6 py-4">{{ merchant.merchantStatus }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


