<section class="">
    <div
      class="flex min-h-screen lg:bg-[url('https://images.unsplash.com/photo-1564501049412-61c2a3083791?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]"
    >
      <div class="hidden lg:block w-1/2"></div>
  
      <div class="sm:20 w-full p-8 md:p-52  bg-gray-100 lg:w-1/2 lg:p-36 xl:rounded-l-[100px] drop-shadow-lg overflow-y-hidden">
  
        <div class="my-auto">
          <h2 class="mb-4 text-3xl font-bold">Merchant Registration</h2>
          <p class="mb-4 italic">Fill up the details to become our partner</p>
          <div class="flex flex-col justify-center">
            <app-merchant-registration-form></app-merchant-registration-form>
          </div>
        </div>
      </div>
    </div>
  </section>
  