<form action="" [formGroup]="registrationForm" (submit)="onSubmit()">
    <div class="" *ngIf="!isSubmitted" [@slideInOut]>
      <div class="">
        <label
          for="merchantName"
          class="mb-2 block text-sm font-medium text-gray-900"
          >Merchant Name</label
        >
        <input
          type="text"
          formControlName="merchantName"
          name="merchantName"
          id="merchantName"
          class="w-full rounded-xl border border-slate-300 p-2 focus:border-primary-color-alt focus:ring-primary-color-alt"
          placeholder="Enter merchant's name"
          size="30"
          autocomplete="off"
        />
      </div>
      <div
        class="text-sm text-red-500"
        [@fadeInOut]
        *ngIf="
          registrationForm.controls['merchantName'].invalid &&
          (registrationForm.controls['merchantPhone'].touched ||
            registrationForm.controls['merchantPhone'].dirty)
        "
      >
        Merchant's name is required
      </div>
  
      <div class="mt-6">
        <label
          for="merchantUsername"
          class="mb-2 block text-sm font-medium text-gray-900"
          >Merchant Username</label
        >
        <input
          type="text"
          formControlName="merchantUsername"
          name="merchantUsername"
          id="merchantUsername"
          class="w-full rounded-xl border border-slate-300 p-2 focus:border-primary-color-alt focus:ring-primary-color-alt"
          placeholder="Enter merchant's username"
          size="30"
          autocomplete="off"
        />
      </div>
  
      <div
        class="text-sm text-red-500"
        [@fadeInOut]
        *ngIf="
          registrationForm.controls['merchantUsername'].invalid &&
          (registrationForm.controls['merchantUsername'].touched ||
            registrationForm.controls['merchantUsername'].dirty)
        "
      >
        Merchant's username is required
      </div>
  
      <div class="mt-6">
        <label
          for="merchantEmail"
          class="mb-2 block text-sm font-medium text-gray-900"
          >Email</label
        >
        <input
          type="email"
          formControlName="merchantEmail"
          name="merchantEmail"
          id="merchantEmail"
          class="w-full rounded-xl border border-slate-300 p-2 focus:border-primary-color-alt focus:ring-primary-color-alt"
          placeholder="Enter merchant's email"
          size="30"
          autocomplete="off"
        />
      </div>
  
      <div
        class="text-sm text-red-500"
        [@fadeInOut]
        *ngIf="
          registrationForm.controls['merchantEmail'].invalid &&
          (registrationForm.controls['merchantEmail'].touched ||
            registrationForm.controls['merchantEmail'].dirty) &&
          registrationForm.controls['merchantEmail'].errors
        "
      >
        <div
          class=""
          *ngIf="registrationForm.controls['merchantEmail'].errors['required']"
        >
          Email is required
        </div>
        <div
          class=""
          *ngIf="registrationForm.controls['merchantEmail'].errors['email']"
        >
          Invalid email
        </div>
      </div>
  
      <div class="mt-6">
        <label
          for="merchantPhone"
          class="mb-2 block text-sm font-medium text-gray-900"
          >Contact Number</label
        >
        <input
          type="text"
          formControlName="merchantPhone"
          name="merchantPhone"
          id="merchantPhone"
          class="w-full rounded-xl border border-slate-300 p-2 focus:border-primary-color-alt focus:ring-primary-color-alt"
          placeholder="Enter merchant's phone number"
          size="30"
          autocomplete="off"
        />
      </div>
  
      <div
        class="text-sm text-red-500"
        [@fadeInOut]
        *ngIf="
          registrationForm.controls['merchantPhone'].invalid &&
          (registrationForm.controls['merchantPhone'].touched ||
            registrationForm.controls['merchantPhone'].dirty) &&
          registrationForm.controls['merchantPhone'].errors
        "
      >
        <div
          class=""
          *ngIf="registrationForm.controls['merchantPhone'].errors['required']"
        >
          Contact number required
        </div>
        <div
          class=""
          *ngIf="registrationForm.controls['merchantPhone'].errors['pattern']"
        >
          The number is invalid
        </div>
      </div>
  
      <div class="mt-6">
        <label
          for="merchantDescription"
          class="mb-2 block text-sm font-medium text-gray-900"
          >Merchant Description</label
        >
        <textarea
          formControlName="merchantDescription"
          name="merchantDescription"
          id="merchantDescription"
          rows="4"
          class="block w-full resize-none rounded-xl border border-gray-300 bg-gray-50 p-2 text-sm text-gray-900 focus:border-primary-color-alt focus:ring-primary-color-alt"
          placeholder="Enter your description"
        ></textarea>
      </div>
  
      <div class="mt-6 flex gap-4">
        <button
          type="button"
          routerLink="/"
          class="w-full rounded-xl bg-red-500 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-color focus:outline-none focus:ring-4 focus:ring-blue-300 lg:w-1/2"
        >
          Cancel
        </button>
        <button
          type="button"
          class="w-full rounded-xl bg-primary-color-alt px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-color focus:outline-none focus:ring-4 focus:ring-blue-300 lg:w-1/2"
        >
          Next
        </button>
      </div>
    </div>
  
    <div class="transition-all duration-300" *ngIf="isSubmitted" [@slideInOut]>
      <h3 class="font-semibold mb-2">Legal Document</h3>
  
      <div class="flex w-full items-center justify-center">
        <label
          for="dropzone-file"
          class="hover:bg-bray-800 flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 "
        >
          <div class="flex flex-col items-center justify-center pb-6 pt-5">
            <svg
              class="mb-4 h-8 w-8 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and drop
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">
              SVG, PNG, JPG or GIF (MAX. 800x400px)
            </p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" />
        </label>
      </div>
  
      <div class="mt-6">
        <label for="filename" class="mb-2 block text-sm font-medium text-gray-900"
          >File Name</label
        >
        <input
          type="text"
          formControlName="filename"
          name="filename"
          id="filename"
          class="w-full rounded-xl border border-slate-300 p-2 focus:border-primary-color-alt focus:ring-primary-color-alt"
          placeholder="Enter filename"
          size="30"
          autocomplete="off"
        />
      </div>
  
      <div class="mt-6">
        <label for="filename" class="mb-2 block text-sm font-medium text-gray-900"
          >File Description</label
        >
        <input
          type="text"
          formControlName="filename"
          name="filename"
          id="filename"
          class="w-full rounded-xl border border-slate-300 p-2 focus:border-primary-color-alt focus:ring-primary-color-alt"
          placeholder="Enter file description"
          size="30"
          autocomplete="off"
        />
      </div>
  
      
      <button
        type="button"
        class="rounded-xl mt-6 bg-primary-color-alt px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-color focus:outline-none focus:ring-4 focus:ring-blue-300 lg:w-2/3"
      >
        Submit
      </button>
    </div>
  </form>
  